/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

  /* Estilos del menú de navegación */
  .menu-hamburguesa {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
.titulo-menu {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Estilos del header */
header {
  position: relative;
  text-align: center;
}

.carrusel {
  width: 100%;
  height: 1100px;
  position: relative;
  overflow: hidden;
  background-size:cover ;
  
}

.imagen {
  position: absolute;
  top:0px;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.flecha-izquierda {
  left: 10px;
}

.flecha-derecha {
  right: 10px;
}

 /* Botón de contacto */
 .boton-contacto {
  position:fixed;
  bottom: 20px;
  left: 80%;
  transform: translateX(-50%);
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.boton-contacto:hover {
  background-color: #e65c00;
}



/* Estilos para el contenedor del logo y el texto */
  
.logo-texto {
  position: absolute;
  top: 1000px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-texto img {
  width: 100px; /* Ancho del logo */
}

.logo-texto h1 {
  color: rgb(12, 12, 12); /* Color del texto */
  font-size: 2rem; /* Tamaño de la fuente */
  margin: 0; /* Eliminar margen */
}
/* Estilos del video */
.video-container {
  text-align: center;
  margin-top: 0px;
  width:  100%;
  height: 100%;
}

.video-container h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

@keyframes moverLogoTexto {
  0% { transform: translateX(1%); } /* Comienza desde la derecha */
  100% { transform: translateX(-10%); } /* Termina en la izquierda */
}

.logo-texto {
  animation: moverLogoTexto 10s linear infinite; /* Animación continua */
}



/* Estilos de la cuadrícula de álbumes */
.album-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.foto {
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}

.foto img {
  width: 100%;
  height: auto;
}


.descripcion {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s ease; /* Agregamos una transición suave */
}

.foto:hover .descripcion {
  display: block; /* Mostrar la descripción cuando se pasa el mouse sobre la foto */
}

.foto h1 {
  background-color: #333; /* Color de fondo para el título */
  padding: 10px; /* Espacio alrededor del título */
  font-size: 24px; /* Tamaño del título */
  color: white; /* Color del texto del título */
}

.descripcion p {
  margin: 0;
  font-size: 18px; /* Tamaño del texto del párrafo */
  text-align: justify;
}

/* Estilos del carrusel 1 */
.carousel1-container {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.carousel1-slides {
  display: flex;
}

.slide1 {
  flex: 0 0 100%;
}

img{
  width: 100%;
  height: auto;

}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #333;
}
.about__paragraph{
  font-size: 18px; /* Tamaño del texto del párrafo */
  text-align: justify;
}


/* Estilos del carrusel 2 */
.carousel2-container {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.carousel2-slides {
  display: flex;
}

.slide2 {
  flex: 0 0 100%;
}

.prev2,
.next2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev2 {
  left: 10px;
}

.next2 {
  right: 10px;
}

.dots2 {
  text-align: center;
  margin-top: 20px;
}

.dot2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active2 {
  background-color: #333;
}

/* Separador  oferta de precios
*/
.separator {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.separator .sep-left,
.separator .sep-right {
  display: flex;
}

.sep-line {
  width: 100px;
  height: 1px;
  background-color: #000;
}

/* Columna */
.column {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-inner {
  width: 80%; /* Ajusta el ancho según tus necesidades */
}



/* Precios */
.pricing-table {
  margin: 20px 0;
}

.pricing-cols {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.pricing-col {
  
  width: 30%;
  background-color: #d0a7137a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-col:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Plan */
.pricing-plan {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Precio */
.pricing-price {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000; /* Ajusta el color según tus necesidades */
}

/* Características */
.pricing-features ul {
  padding: 0;
  list-style-type: none;
}

.pricing-features ul li {
  margin-bottom: 10px;
}

.pricing-features ul li strong {
  font-weight: bold;
}

/* Botón de contratar */
.pricing-button {
  margin-top: 20px;
  text-align: center;
}

.btn-contratar {
  display: inline-block;
  background-color: #ff0000; /* Ajusta el color según tus necesidades */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-contratar:hover {
  background-color: #cc0000; /* Ajusta el color hover según tus necesidades */
}


/* Estilos del footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.redes-sociales {
  
  margin-bottom: 20px;
}

.redes-sociales a {
  color: #f2efef;
  font-size: 42px; /* Tamaño de fuente más grande */
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.3s ease; /* Añadir transición para un efecto suave */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agregar sombra para un efecto reflectante */
}

.redes-sociales a:hover {
  color: #ff6600; /* Cambiar el color al pasar el cursor */
  transform: scale(1.2); /* Aumentar el tamaño al pasar el cursor */
}

#copy {
  margin-top: 10px;
}

/* Estilos de medios */
@media screen and (max-width: 768px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel1-container,
  .carousel2-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .album-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .carousel1-container,
  .carousel2-container {
    max-width: 300px;
  }

  .logo-texto h1 {
     
    white-space: nowrap;
    font-size: 8px;
  }

  .logo-texto{
    position: absolute;
    top: 400px;
  }
  .slide1 img{
    width: 100%;
  }
  .slide2 img{
    width: 100%;
  }
  .pricing-cols{
    display:grid;
    gap: 20px;
    
  }
  .pricing-col{
    width: 90%;
   
  }
  
}

@media screen and (max-width: 768px) {
  .carrusel {
    height: 800px; /* Modifica la altura para adaptarse a pantallas pequeñas */
  }
  
  .imagen {
    height: 60%; /* Modifica la altura de las imágenes para adaptarse a pantallas pequeñas */
  }
  .video-container{
    margin-top: -200px;
  }
}

@media screen and (max-width: 480px) {
  .carrusel {
    height: 600px; /* Modifica la altura para pantallas más pequeñas */
  }
  
  .imagen {
    height: 50%; /* Modifica la altura de las imágenes para pantallas más pequeñas */
  }
}


  
